@model TravelTripProjectUI.Models.Classes.BlogComment

<div class="col-md-4 side-content">
    <div class="recent">
        <h3>Son Gönderiler</h3>

        @foreach (var x in Model.Blog2)
        {
            <ul>
                <li><a href="/Blog/BlogDetail/@x.ID">@x.Heading</a></li>
            </ul>
        }

    </div>
    <div class="comments">
        <h3>Son Yorumlar</h3>
        <ul>
            <li><a href="#">Amada Doe </a> on <a href="#">Hello World!</a></li>
            <li><a href="#">Peter Doe </a> on <a href="#"> Photography</a></li>
            <li><a href="#">Steve Roberts  </a> on <a href="#">HTML5/CSS3</a></li>
        </ul>
    </div>
</div>
